body {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: auto;
	font-size: 20px;
}


/* FLEX */

#flex {
	border: 5px solid purple;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: auto;
	width: 1000px;
	height: 500px;

}

#flex div {
	border: 3px solid pink;
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;

}



/* GRID */
#all {
	border: 7px solid red;
}

.row {
	border: 5px solid green;
}

 p {
	border: 3px solid blue;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 10px;
}

#first {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 100px;
	grid-column-gap: 10px;
	grid-template-areas: 
							"f_un	f_deux	f_trois";
}

#f_un {
	grid-area: f_un;
}

#f_deux {
	grid-area: f_deux;
}

#f_trois {
	grid-area: f_trois;
}

#second {
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-template-rows: 100px;
	grid-column-gap: 10px;
	grid-template-areas: 
							"s_un	s_deux";
}

#s_un {
	grid-area: s_un;
}

#s_deux {
	grid-area: s_deux;
}


#third {
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-template-rows: 100px 200px;
	grid-column-gap: 10px;
	grid-template-areas: 
							"t_un	t_deux"
							"t_un	t_trois";
}

#t_un {
	grid-area: t_un;
}

#t_deux {
	grid-area: t_deux;
}

#t_trois {
	grid-area: t_trois;
}


@media screen and (max-width: 768px) {
	
	#first {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 50px 50px 50px;
		grid-template-areas: 
								"f_un"
								"f_deux"
								"f_trois";
	}
}